@font-face {
    font-family: 'Showtime';
    src: url('/static/css/fonts/Showtime-R9Ke.ttf') format('truetype');
}

@font-face {
    font-family: 'Broadway';
    src: url('/static/css/fonts/Broadway\ Regular.ttf') format('truetype');
}
h3{
    font-family: 'Broadway';
}
h1{
    font-family:'Broadway';
}
h4{
    font-family: 'Broadway';
}

div.row.whoswho {
    padding: 3px;
}
div.col-4.head {
    align-items: center;
}
div{
    display: block;
 
}
div.container {
    font-size: 12px;
    text-align: center;
}

div.container.userinfo {
 
    align-items: center;
    align-self: auto;
    height: 500px;
    width: 700px;
    border-radius: 5px;
}
  

.castList {
    padding: .5rem;
    display: grid;
    width: 100%;
    height: 100%; 
    grid-template-rows: repeat(auto-fill, 160px);
}

.cast{
    border-radius: 5px;
}

.cover_head_text {
    text-transform: uppercase;
}

.playbillContainer {
    width: 594px;
    float: left;
    display: inline;
    padding-left: 36px;
}

.playbillBase {
    margin:auto;
    align-items: center;
    background: url('/static/img/PBPageBackground.png') no-repeat 0 0;
    position:relative;
    height: 830px;
    width: 594px;
    padding: 27px 35px 38px 29px;
}


.pager-prev-disabled{
    opacity: 0.3;
}

.pager-prev {
    left: -16px;
    height: 84px;
    width: 22px;
    background: url('/static/img/SliderArrows.png') no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    position:absolute;
    top: 345px;
}
button {
    border:none;

}

.pager-next {

    right: -10px;
    background-position: right 0;
    height: 84px;
    width: 22px;
    background: url('/static/img/SliderArrows.png') no-repeat 0 0;
    text-indent: -4000px;
    position: absolute;
    top: 345px;
    transform: rotate(180deg);
    
}


.slideBase {
    position: relative;
    width: 530px;
    height: 768px;
}

.coverPage {
    position: relative;
    top:0;
    left:0;
}

.userStats {
    padding:55px 30px 55px 30px;
    position: relative;
    background: url('/static/img/Marquee.png') no-repeat scroll 0 0;
    background-size:cover;
    height: 350px;
    width: 350px;
    margin: auto;
    align-items: center;

}

.cover-head {
    background: url('/static/img/PBCoverHeader.png') no-repeat scroll 0 0;
    height: 163px;
    margin-bottom: 19px;
    position:relative;
    width: 530px;
    text-align: center;
}

.cover_head_text {
    vertical-align: middle;
    padding-top: 19%;
    width: 100%;
    height: 63px;
}

.body_base {
   
    border: 1px;
    border-style: solid;
    width: 530px;
    height:590px;
}

#playBillImg{
    width: 528px;
    height:588px;
}
.playbill-img {
    width: 525px;
    height: 588px;
}

ul {
    list-style: none;
}

