@font-face {
    font-family: 'Showtime';
    src: url('/static/css/fonts/Showtime-R9Ke.ttf') format('truetype');
}

@font-face {
    font-family: 'Broadway';
    src: url('/static/css/fonts/Broadway\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/css/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family:'Raleway Italic';
    src: url('/static/css/fonts/Raleway-Italic-VariableFont_wght.ttf')
}


h3{
    font-family: 'Broadway';
}
h1{
    font-family:'Broadway';
}
h4{
    font-family: 'Broadway';
}
body{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    border: 1px solid transparent;
    
}
nav{
    background-color: #12344D;
}

div.row.whoswho {
    padding: 3px;
}
div.col-4.head {
    align-items: center;
}
div{
    display: block;
 
}
div.container {
    font-size: 12px;
    text-align: center;
}

div.container.userinfo {
    align-items: center;
    align-self: auto;
    height: 500px;
    width: 700px;
    border-radius: 5px;
}

.container.home {
    align-items: center;
    height: auto;
    padding: 2rem;
    justify-content: center;
    display: flex;
}

#carousel {
    height: 33rem;
    width: 25rem;
   
}
.card-img{
    padding-left: 50%;
    padding-right: 0;
    height: 150px;
    width: 150px;
}
.d-block {
    height: 33rem;
    width: 25rem;
}
.card.show{
    font-family: Raleway;
    background-color: #D9d9d9;
    background-size: cover;
    max-width: 35ch;
    max-height: 30ch;
    margin: 50px;
}
.card.content {
    padding: 1.5em;
    background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / .2) 20%,
    hsl(0 0% 0% /1));
  
}
.card.search{
    height:5rem;
    width: 15rem;
    padding: 0.5rem;
    box-shadow: 1px 3px 3px #242424;
    cursor: pointer;
    margin: 1rem;
    align-items: center;
    
}
.front,.back{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .4s linear;
    position: absolute;
}
.front{
    align-items: center;
    justify-content: center;
    font-family: broadway;
    transform: perspective(600px) rotateY(0deg);
}
.back{
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    text-align: center;
    width: 100%;
    top: 0;
    padding: 1rem;
    margin: none;

}
.back-content a{
    margin: 5px;
}
.card.search:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card.search:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
label.searchAgain{
    font-family: broadway;
}

.searchAgain{
    font-family: Raleway;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 0;
}

.archive button:hover{
    background-color: red;
}

.castList {
    padding: .5rem;
    display: grid;
    width: 100%;
    height: 100%; 
    grid-template-rows: repeat(auto-fill, 160px);
}

#upload_box {
    font-size: 10px;
    font-family: Raleway;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: white;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    width: 200px;
    outline: none;
    margin-top: 5px;
    
}

::-webkit-file-upload-button{
    font-family: Raleway;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background: #FEFEFC;
    padding: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 1px 1px 5px black;
    width:90px;
}

::-webkit-file-upload-button:hover{
    background: #f9eb0d;
    color:#242424;
    cursor: pointer;
}

.submitShot{
    font-family: Raleway;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background: #FEFEFC;
    padding: 5px;
    border: none;
    border-radius: 30px;
    outline: none;
    width:100px;
    box-shadow: 2px 3px 5px black;
    margin-bottom: 8px;
    margin-top: 5px;
}
.submitShot:hover{
    background: #f9eb0d;
    color:#242424;
    cursor: pointer;
}
.submitBio{
    font-family: Raleway;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background: #FEFEFC;
    padding: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
    width:100px;
    box-shadow: 2px 3px 5px black;
    margin-bottom: 8px;
    
}
.submitBio:hover{
    background: #f9eb0d;
    color:#242424;
    cursor: pointer;
}
#update_bio{
    box-shadow: 1px 1px 2px black;
    background-color: #dddddd;
    color: #666666;
    height: 25px;
    width: 200px;
    padding: 1.5px;
    border-radius: 10px;
    outline: none;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.4;
    transition: all 0.2s;
    margin-top: 5px;
   
}

#update_bio:hover{
    cursor: pointer;
    background-color: #eeeeee;

}
#update_bio:focus{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}

.viewPlaybill{
    font-family: Raleway;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background: #FEFEFC;
    padding: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
    width:100px;
    box-shadow: 2px 3px 5px black;
    margin: 8px;
    text-decoration: none;
 
}

.viewPlaybill:hover{
    background: #f9eb0d;
    color:#242424;
    cursor: pointer;
}

.adminButton{
    color: black;
    background-color: transparent;
    font-family: Raleway; 
    box-shadow: 0 3px 5px rgba(0,0,0,0.18);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    text-decoration: none;
    width: 150px;
    height: 50px;
    padding: 10px;
}
.adminButton:hover{
    background: #f9eb0d;
    color:#242424;
    cursor: pointer;
}


.cast{
    border-radius: 5px;
}

.cover_head_text {
    text-transform: uppercase;
}

.playbillContainer {
    width: 594px;
    float: left;
    display: inline;
    padding-left: 36px;
}

.playbillBase {
    margin:auto;
    align-items: center;
    background: url('/static/img/PBPageBackground.png') no-repeat 0 0;
    position:relative;
    height: 830px;
    width: 594px;
    padding: 27px 35px 38px 29px;
}



.pager-prev-disabled{
    opacity: 0.3;
}

.pager-prev {
    left: -16px;
    height: 84px;
    width: 22px;
    background: url('/static/img/SliderArrows.png') no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    position:absolute;
    top: 345px;
}
button {
    border:none;
}

.pager-next {

    right: -10px;
    background-position: right 0;
    height: 84px;
    width: 22px;
    background: url('/static/img/SliderArrows.png') no-repeat 0 0;
    text-indent: -4000px;
    position: absolute;
    top: 345px;
    transform: rotate(180deg);
    
}


.slideBase {
    position: relative;
    width: 530px;
    height: 768px;
}

.coverPage {
    position: relative;
    top:0;
    left:0;
}

.userStats {
    padding:55px 30px 55px 30px;
    position: relative;
    background: url('/static/img/Marquee.png') no-repeat scroll 0 0;
    background-size:cover;
    height: 350px;
    width: 350px;
    margin: auto;
    align-items: center;

}

.cover-head {
    background: url('/static/img/PBCoverHeader.png') no-repeat scroll 0 0;
    height: 163px;
    margin-bottom: 19px;
    position:relative;
    width: 530px;
    text-align: center;
}

.cover_head_text {
    vertical-align: middle;
    padding-top: 19%;
    width: 100%;
    height: 63px;
}

#playBillImg{
    width: 530px;
    height:550px;
}
.playbill-img {
    width: 525px;
    height: 588px;
}

ul {
    list-style: none;
}

