{%extends 'base.html'%}
{%block title%}{{show.title}} Add Cast {%endblock%}
{%block body%}
<h3>{{show.title}} Cast List:
    <ul>
        {%for member in cast%}
        <li>{{member.user.fname}} {{member.user.lname}} - {{member.role}}</li>
        {%endfor%}
    </ul>
</h3>
<h3>Add Cast Members:</h3>
<form action="/cast/{{show.show_id}}" method="POST">
<div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" class="form-control" id="fname" name="fname" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name:</label>
    <input type="text" class="form-control" id="lname" name="lname" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="role">Role:</label>
    <input type="text" class="form-control" id="role" name="role" required>
  </div>
  <label for="admin_choice">Allow Admin:</label>
  <div id="admin_choice" class="input-group mb-3">
    <input id="admin_choice" name="admin" class="form-check-input mt-0" type="checkbox" value="true">
  </div>
  <input type="submit">
</form>
{%endblock%}