{%extends 'base.html'%}
{%block title%}{{show.title}} Add Cast {%endblock%}
{%block body%}
<h3>{{show.title}} Cast List:</h3>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h5>Actor</h5>
    </div>
    <div class="col-4">
      <h5>Role</h5>
    </div>
  </div>
{%for member in cast%}
    <div class="row">
      <div class="col-4">
        <button type="edit" class="edit-cast" id="{{member.user.user_id}}">Edit Info</button>
      </div>
      <div class="col-4">{{member.user.fname}} {{member.user.lname}}</div>
      <div class="col-4" id="role">{{member.role}}</div>

    </div>
    {%endfor%}
  </div>
       

<h3>Add Cast Members:</h3>
<form action="/cast/{{show.show_id}}" method="POST">
<div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" class="form-control" id="fname" name="fname" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name:</label>
    <input type="text" class="form-control" id="lname" name="lname" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="role">Role:</label>
    <input type="text" class="form-control" id="role" name="role" required>
  </div>
  <label for="admin_choice">Allow Admin:</label>
  <div id="admin_choice" class="input-group mb-3">
    <input id="admin_choice" name="admin" class="form-check-input mt-0" type="checkbox" value="true">
  </div>
  <input type="submit">
</form>
<script src="/static/js/editcast.js"></script>
{%endblock%}
