{%extends 'base.html'%}

{%block body%} 
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Login to Register A Show</h3>
        </div>
        <div class="col-6">
        <label for="search"><h3>Search for a Playbill!</h3></label>
        <form action="/search" method="POST">
            <input id="search" type="input" name="show_title" placeholder="Search by show title"/> 
        </form>
    </div>

</div>
    <div class="row">
    <div id="carousel" class="carousel slide" data-interval="4000" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-50" src="static/img/Hairspray.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-50" src="static/img/Wizard.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-50" src="static/img/MamaMia.png" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-50" src="static/img/Annie.png" alt="Fourth slide">
          </div>
        </div>
      </div>
    </div>

 
    </div>
       
        <div class="col-6">
            <div class="row">
                {%if shows%}
<h3>View Playbills</h3>
<div class="container">
{%for show in shows%}
<div class="row">
    <div class="col-4">
        <form action='/viewplaybill'>
            <input type="hidden" name="show_id" value="{{show.show_id}}"/>
            <button type="submit">{{show.title}}</button>
    </form>
    </div>
    <div class="col-4">
        {{show.company.name}}<br>
        {{show.company.city}}
    </div>
    <div class="col-4">
        {{show.opening_night}} - {{show.closing_night}}
    </div>
</div>

{%endfor%}
</div>
</div>
{%endif%}
            </div>
        </div>
    </div>


{%endblock%}