{% extends 'base.html'%}
{%block body%}
<h1>Login</h1>
    <form action='/login' method='POST'>
        <div class="mb-3">
            <label for="email_input" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email_input" name="email_input" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password_input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password_input" name="password_input">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  {%endblock%}