{% extends 'base.html' %}
{% block title %}Register A Show!{% endblock %}

{%block head%}
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>{%endblock%}

{% block body %}
<h1>Register A New Show</h1>
<div class="container">
    <div id="registerShow"></div>
</div>
  

<script src="/static/js/RegisterShow.jsx" type="text/jsx"></script>
{% endblock %}