{%extends 'base.html'%}

{%block title%}Register User{%endblock%}
{%block body%}
<h1>New User Registration</h1>

<form class="register_user" name="new_user" method="POST">
    <input type="text" name="fname" placeholder="First Name" required />
    <input type="text" name="lname" placeholder="Last Name" required />
    <input type="text" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <input id="sumbit_new_user" type="submit" placeholder="Register!" />
</form>

{%endblock%}