{% extends 'base.html' %}
{% block title %}Register A Show!{% endblock %}
{% block body %}
<h1>Register A New Show</h1>
<h3>Show information:</h3>
<form action="/register_show" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Tile of Show:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="opening_night">Opening Night:</label>
      <input type="date" class="form-control" id="opening_night" name="opening_night" required>
    </div>
    <div class="form-group">
        <label for="closing_night">Closing Night:</label>
        <input type="date" class="form-control" id="closing_night" name="closing_night" required>
      </div>
      <div class="form-group">
        <label for="theater_name">Theater Name:</label>
        <input type="text" class="form-control" id="theater_name" name="theater_name">
      </div>
    <br>
      <h3>Company Information:</h3>
      <div class="form-group">
        <label for="company_name">Company Name:</label>
        <input type="text" class="form-control" id="company_name" name="company_name" required>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" required>
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" required>
      </div>
      <div class="form-group">
        <label for="zip_code">Zip Code:</label>
        <input type="number" class="form-control" id="zip_code" name="zip_code" required>
      </div>
      <label for="website">Company Website:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="website">https://</span>
        </div>
        <input type="text" class="form-control" id="website" name="website">
      </div>
      
      <div class="form-group">
        <label for="logo">Company Logo:(optional)</label>
        <input type="file" class="form-control" id="logo" name="logo">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}