{%extends 'base.html'%}

{%block title%}{{show.title}}{%endblock%}

{%block head%}
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
{%endblock%}


{%block body%}
<div class="container">

  <div class="row">
    <div id="userShowProfile"></div>
    <div id="showEdits"></div>
  </div>

</div>

<script src="/static/js/UserShowProfile.jsx" type="text/jsx"></script>
<script src="/static/js/ShowEdits.jsx" type="text/jsx"></script>
{%endblock%}