{%extends 'base.html'%}
{%block title%}{{user.fname}}'s Profile{%endblock%}

{%block body%}
<div class="container">
  <div class="container">
  <div class="row">
<h1>Name: {{user.fname}} {{user.lname}}</h1>
<h3>Email: {{user.email}}</h3>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
<h2>Active Shows:</h2>
<ul>
    {%for show in user.cast%}
    {%if show.shows.active == True%}
    <li>
      {%if show.shows.company.logo != none %}
    <img src="{{show.shows.company.logo}}">
      {%endif%}
    <a href='/updateshow/{{show.shows.show_id}}'>{{show.shows.title}}</a> <strong>Role:</strong><i>{{show.role}}</i> <strong>ADMIN:</strong><i> {{show.admin}}</i> 
    {%if show.admin == True%}
    <button type="submit"><a href="/cast/{{show.show_id}}">Add Cast</a></button>
    {%endif%}
    </li>
    {%endif%}
    {%endfor%}
</ul>
</div>
<div class="col-6">
  <h2>Archived Shows:</h2>
  <ul>
    {%for show in user.cast%}
    {%if show.shows.active == False%}
    <li>
      {{show.shows.title}} <strong>Role:</strong><i>{{show.role}}</i> <strong>ADMIN:</strong><i> {{show.admin}}</i> 
      {{show.shows.opening_night}} - {{show.shows.opening_night}}<br>
      </li>
      {%endif%}
    {%endfor%}
  </ul>
 
</div>
</div>
</div>

</div>
{%endblock%}