{%extends 'base.html'%}
{%block title%}{{user.fname}}'s Profile{%endblock%}

{%block body%}
<div class="user_info">
<h1>Name: {{user.fname}} {{user.lname}}</h1>
<h3>Email: {{user.email}}</h3>
<h3>Headshot: 
    <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{user.headshots[0].img}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Show: {{user.headshots.show_id}}</h5>
              <p><button type="Submit">Use for show</button></p>
            </div>
          </div>
          {%for image in user.headshots[1::]%}
          <div class="carousel-item">
            <img src="{{image.img}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Show: {{user.headshots.show_id}}</h5>
                <p>
                       
                    <div class="dropdown">
                        {%for show in user.cast%}
                        <form action="/add_headshot_to_show/{{image.headshot_id}}/{{show.show_id}}" method="POST">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Use for show
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><button type="submit">{{show.shows.title}}</a></li>
                        {%endfor%}
                        </ul>
                    </div>
                   </form>
                </p>
            </div>
          </div>
          {%endfor%}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
      <br>
      <br>
<label for="add_headshot">Add Headshot:</label>    
<form action="/add_headshot/{{user.user_id}}" method="POST" enctype="multipart/form-data">
    <input id="add_headshot" type="file" name="headshot">
    <input type="submit">
</form>
</h3>
<h3>Bio: {{user.bio}}</h3>
<h2>Shows:</h2>
<ul>
    {%for show in user.cast%}
    <li>
    {{show.shows.title}} ADMIN: {{show.admin}}
    </li>
    {%endfor%}
</ul>
</div>
{%endblock%}